<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.p2p.bussiness.mapper.ExpAccountMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.p2p.bussiness.domain.ExpAccount" >
    <id column="id" property="id" />
    <result column="version" property="version" />
    <result column="usableAmount" property="usableAmount" />
    <result column="freezedAmount" property="freezedAmount" />
    <result column="unReturnExpAmount" property="unReturnExpAmount" />
  </resultMap>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
    insert into `expaccount` (id,version, usableAmount, freezedAmount, unReturnExpAmount)
    values (#{id},0, #{usableAmount}, #{freezedAmount}, #{unReturnExpAmount})
  </insert>
  <update id="updateByPrimaryKey" >
    update `expaccount`
    set version = version + 1,
      usableAmount = #{usableAmount},
      freezedAmount = #{freezedAmount},
      unReturnExpAmount = #{unReturnExpAmount}
    where id = #{id} and version = #{version}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select id, version, usableAmount, freezedAmount, unReturnExpAmount
    from `expaccount`
    where id = #{id}
  </select>
  <select id="getByUserId" resultMap="BaseResultMap">
     select id, version, usableAmount, freezedAmount, unReturnExpAmount
    from `expaccount`
    where id = #{userId}
  </select>
</mapper>